<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sectionDeptCount">
  <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_d01d">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-border-3 u-border-white u-container-style u-group u-radius-50 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h1 class="u-align-center u-text u-text-default u-text-1">$1500000</h1>
          <h4 class="u-text u-text-custom-color-3 u-text-default u-text-2" th:text="#{total_lent}"></h4>
        </div>
      </div>
      <div class="u-border-3 u-border-white u-container-style u-group u-radius-50 u-shape-round u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <h1 class="u-align-center u-text u-text-default u-text-3">$1500000</h1>
          <h4 class="u-text u-text-custom-color-3 u-text-4" th:text="#{total_borrowed}"></h4>
        </div>
      </div>
    </div>
  </section>
</th:block>
</html>