<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sectionDeptList">
<section class="u-clearfix u-custom-color-4 u-section-2" id="sec-d3ed">
  <div class="u-clearfix u-sheet u-sheet-1">
    <button onclick="PopUpShow()"
            class="u-align-left u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-50 u-btn-1" th:text="#{new_button}"></button>
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-col">
          <div class="u-size-60">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-container-style u-custom-color-5 u-expanded-width u-group u-radius-50 u-shape-round u-group-1"
                       data-animation-name="customAnimationIn" data-animation-duration="2000">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h2 class="u-align-left u-text u-text-default u-text-3"th:text="#{lent}"></h2>
                      <div th:each="lender:${lenders}">
                        <p class="u-align-left u-text u-text-default u-text-4"
                           th:text="${lender.getName() +' '+ lender.getSurname()}">N S</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <div class="u-container-align-left u-container-style u-custom-color-2 u-expanded-width u-group u-radius-50 u-shape-round u-group-2"
                       data-animation-name="customAnimationIn" data-animation-duration="2000">
                    <div class="u-container-layout u-valign-top u-container-layout-4">
                      <h2 class="u-align-left u-text u-text-default u-text-3" th:text="#{borrowed}"></h2>
                      <div th:each="borrower:${borrowers}">
                        <p class="u-align-left u-text u-text-default u-text-2"
                           th:text="${borrower.getName() + ' ' + borrower.getSurname()}">N S</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</th:block>
</html>