<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/debtsStyle.css">
    <script class="u-script" type="text/javascript" src="/static/js/debtInfo.js" ></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Borroweing date</th>
        <th>Return date</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody th:each="lent:${concreteCreditorLents}" >
    <tr onclick="toggleRow(this)" >
        <td th:text="${lent.getId()}"></td>
        <td th:text="${lent.getAmount()}"></td>
        <td th:text="${lent.getCurrency()}"></td>
        <td th:text="${lent.getBorrowingDate()}"></td>
        <td th:text="${lent.getReturnDate()}"></td>
        <td th:text="${lent.getNote()}"></td>
    </tr>
    <tr class="expandable-row-content" style="display: none;">
        <td colspan="6">
            <p> Here must be information about repayments</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>